body{
    background-color: #23396a;
    color: white;
}

h2{
    color: #34bb6a;
}

header{
    text-align: center;
}

footer{
    text-align: center;
    background-color: #11244e;
    color: red;
}